.title {
  text-align: center;
  color: var(--devui-brand);
}

.powered {
  margin-bottom: 15px;
}

.action-bar {
  text-align: right;

  .theme-select {
    margin-left: 10px;
    display: inline-block;
    width: 200px
  }
}