<d-layout>
  <d-header>
    <app-header />
  </d-header>
  <d-layout>
    <d-aside>
      <d-accordion [ngClass]="{
        'menu-expanded':isExpanded(),
        'menu-unExpanded':!isExpanded()
      }" [data]="renderMenus(menu)" class="menu" linkType="routerLink" [autoOpenActiveMenu]="true" />
      <div [ngClass]="{
        'menu-control':isExpanded(),
        'menu-unControl':!isExpanded()
      }" class="aside-control" (click)="toggleExpanded()">
        <d-icon [ngClass]="{
          'icon-expanded':isExpanded(),
          'icon-unExpanded':!isExpanded()
        }" class="icon icon-collapse"></d-icon>
      </div>
    </d-aside>
    <d-content>
      <app-content />
    </d-content>
  </d-layout>
  <d-footer>
    <a href="https://devui.design/components/zh-cn/overview" target="_blank" class="footer">
      <img src="assets/devui_logo.svg" class="devui_logo" />
      <div class="txt-center powered">HuaWei DevUI</div>
    </a>
  </d-footer>
</d-layout>